# MongoDB
MONGO_URI=mongodb://mongo:27017/finpay

# Redis
REDIS_URL=redis://redis:6379

# JWT — Generate your own keys:
# Step 1: openssl genrsa -out private.pem 2048
# Step 2: openssl rsa -in private.pem -pubout -out public.pem
# Step 3: base64 encode: certutil -encode private.pem tmp.b64 (Windows)
#          or: base64 -w 0 private.pem (Linux/Mac)
# Paste the base64 output below
JWT_PRIVATE_KEY=your_base64_encoded_rsa_private_key_here
JWT_PUBLIC_KEY=your_base64_encoded_rsa_public_key_here

JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Auth Service
AUTH_SERVICE_PORT=3001
AUTH_SERVICE_URL=http://auth-service:3001

# Wallet Service
WALLET_SERVICE_PORT=3002
WALLET_SERVICE_URL=http://wallet-service:3002

# Transaction Service
TRANSACTION_SERVICE_PORT=3003
TRANSACTION_SERVICE_URL=http://transaction-service:3003

# API Gateway
API_GATEWAY_PORT=3000

# Logging
LOG_LEVEL=info

# Resend (Phase 4)
RESEND_API_KEY=
